header {
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #d6d6e2;
}

header h3 {
  margin: 0;
}

header h3 a {
  text-decoration: none;
  color: #43425d;
}

header h3 a:hover {
  color: #7d7c9c;
}